<div class="mt-4 mb-4">
   <div>
    <h3>Video của tôi</h3>
    <a href="/videos/mevideos/trash/videos"> Thùng rác </a>
   </div>
    <table class="table table-light mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Video</th>
                <th scope="col">Thời gian tạo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{# each videos}}
            <tr id="btnMeVideos">
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.createAt}}</td>
                <td>
                    <button class="btn btn-primary"><a href="/videos/{{this._id}}/edit">
                            Sửa
                        </a>
                </td>
                <td>
                    </button>
                    <button class="btn btn-primary"><a href="" data-toggle="modal" data-target="#delete-video-model"
                            data-id="{{this._id}}">
                            Xóa
                        </a></button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng video nào. 
                    <a href="/videos/create">Tải lên video ?</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- confirm delete -->
<div class="modal fade" id="delete-video-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo xóa video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa video này?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-video" type="button" class="btn btn-danger">Xác nhận xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-video-form">

</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var videoId;
        var btnDeleteVideo = document.getElementById('btn-delete-video');
        var deleteForm = document.forms['delete-video-form'];

        // when dialog confirm clicked
        $('#delete-video-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            videoId = button.data('id');
        });

        // when delete video btn click
        btnDeleteVideo.onclick = function () {
            deleteForm.action = '/videos/' + videoId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script>